@import "settings/main";
@import "tools/mixins";
@import "generic/main";
@import "base/main";
@import "objects/main";
@import "components/menu-opcoes";
@import "components/destaque";
@import "components/sobre";
@import "components/plataformas";
@import "components/planos";
@import "components/icones-check";
@import "components/blog";
@import "components/contato";
@import "trumps/main";

