.titulo-secao
  text-decoration underline
  font-size fonte-titulo
  text-align center

.sobre,
.planos,
.blog,
.contato
  padding 3em 0 6em 0

.duas-colunas
  -webkit-column-count 2
  -moz-column-count 2
  column-count 2
  columns 1
  h3
    margin 0

.container
  width 940px
  margin 0 auto

.menu-rodape,
.social
  position absolute

.menu-rodape ul li
  display inline-block
  margin-left 2em

.menu-rodape
  top 1em
  right 0

.social
  bottom 0
  right 0
  a
    background-position top
    background-size 50px 50px

.menu-rodape li
.social li
  display inline

.social li
  float left
  a
    display block
    width 55px
    height 55px
    text-indent -9999px
    overflow hidden
    background-repeat no-repeat
    margin-left 1em

.social a[href*="facebook"]
  background-image url(../imagens/facebook.png)

.social a[href*="twitter"]
  background-image url(../imagens/twitter.png)

.social a[href*="instagram"]
  background-image url(../imagens/instagram.png)


