.contato input,
.contato button
  display block

.contato__input,
  width 100%
  margin-bottom .8em
  padding 4px 8px
  -webkit-border-radius 0.3em
  border-radius 0.3em
  border 2px solid #ccc

.contato__button
  margin 0 auto
  background color-base
  border 0
  color #fff
  width 210px
  height 38px
  font-size 1.2em
  -webkit-border-radius 0.3em
  border-radius 0.3em
  box-shadow 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3)
