.planos
  background #1e2c35
  h2
    color #fff

.plano
  background white
  width 18em
  display inline-block
  margin 1em 0 0 1.4em
  padding-bottom 2em
  &:hover
    background #dedede
  h3
    color #fff
    font-size 1.8em
    background color-base
    text-align center
    height 2em
    padding-top .6em
    margin-top 0
  div
    text-align center
    color color-base
    font-size 2.75em
  button
    background color-base
    border 0
    color #fff
    width 210px
    height 38px
    font-size 1.2em
    -webkit-border-radius 0.3em
    border-radius 0.3em
    box-shadow 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3)
    margin-left 2em

.itens-plano
  padding-left 1.2em
  li
    font-size 1em
    list-style none
    border-bottom 1px solid #acacac
    padding .5em
    width 14.8em
    &:last-child
      border 0
  span
    float right

