.plataformas
  padding 0
  li
    display inline-block
    width 50px
    height 60px
    text-indent -9999px
    overflow hidden
    background-repeat no-repeat
    background-position center
    margin 1em 1.5em 0 0
  li
    &:nth-child(1)
      background-image url(../imagens/logo-apple.png)
    &:nth-child(2)
      background-image url(../imagens/logo-android.png)
    &:nth-child(3)
      background-image url(../imagens/logo-windows.png)
    &:nth-child(4)
      background-image: url(../imagens/logo-blackberry.png)